div.well {
	cursor:pointer;
	height:170px;
}

div.well img {
	max-width:100px;
	max-height:100px;
	margin-right:15px;
	float:left;
	transform:rotate(180deg);
}

div.well div.name {
	font-weight:bold;
}

div.well div.game {
	clear:both;
	margin-top:10px;
}

div.well div.game span {
	font-style:italic;
}

div.input-group {
	max-width:500px;
}

span.input-group-btn label {
	padding:6px 25px;
}

form img.icon {
	display:block;
	transform:rotate(180deg);
}

@media (min-width:767px ) {
	form img.icon {
		float:right;
		max-width:200px;
	}
}

/* Alternates
 */
div.alternates {
	margin-bottom:50px;
}

div.alternate {
	width:100px;
}

div.alternate img.icon {
	width:100%;
	transform:rotate(180deg);
}

div.alternate span {
	display:block;
	text-align:center;
}

div.alternate input.btn {
	width:100%;
}
