p.nomap {
	margin-top:40px;
}

div.well {
	background-size:cover;
	background-color:#606070;
	background-position:center;
	height:300px;
	position:relative;
}

div.well h2 {
	font-size:40px;
	color:#f0f0f0;
	text-shadow:2px 2px 3px #404040;
}

div.well span {
	color:#c0c0c0;
	text-shadow:1px 1px 2px #000000;
}

div.well div.btn-group {
	position:absolute;
	bottom:15px;
	right:15px;
}

/* Stories
 */
div.stories > div {
	display:none;
}

div.stories div.panel {
	max-width:600px;
}

/* Run a game
 */
div.menu {
	position:absolute;
	top:5px;
	right:15px;
	margin:0;
}

div.menu span#infobar {
	margin-right:15px;
	display:inline-block;
	position:relative;
	top:4px;
	margin-top:-5px;
	width:150px;
	height:20px;
	text-align:right;
}

div.menu div.btn-group {
	margin:0;
	display:inline-block;
}

div.menu select.map-selector {
	margin-right:15px;
	display:inline-block;
	width:200px;
	height:20px;
	padding:0;
	position:relative;
	top:1px;
	font-size:12px;
}

table.table th:last-child {
	width:200px;
}

/* Journal
 */
div.journal div.panel {
	max-width:800px;
}

div.journal div.panel-body {
	max-height:400px;
	height:400px;
}

div.journal div.session {
	text-align:center;
	font-weight:bold;
	border-bottom:1px solid #0000c0;
	margin-bottom:10px;
}

div.journal textarea {
	max-width:630px;
	max-height:200px;
}

div.journal div.entry {
	margin-left:30px;
	margin-bottom:10px;
}

div.journal span.writer {
	font-weight:bold;
	margin-left:-30px;
}
div.journal span.writer:after {
	content:":";
	margin-right:5px;
}

/* Collectables
 */
div.collectables div.panel {
	max-width:490px;
}

/* Effects
 */
div.effects div.panel-heading span.size {
	margin-left:70px;
}

div.effects div.panel-heading span.size input {
	border:none;
	width:40px;
}

div.effects div.panel-heading span.size input:first-child {
	margin-right:10px;
}

div.effects img.effect {
	margin:15px;
	cursor:pointer;
}

/* DM notes
 */
div.notes div.panel {
	max-width:600px;
}

div.notes div.panel-body {
	white-space:pre-wrap;
	padding:0 15px;
}

/* Screen elements
 */
div.playarea {
	position:absolute;
	top:40px;
	right:215px;
	bottom:15px;
	left:15px;
	border:1px solid #000000;
	overflow:auto;
	z-index:1;
}

div.playarea video {
	position:absolute;
	left:0;
	top:0;
}

div.sidebar {
	font-size:12px;
	position:absolute;
	top:40px;
	right:0px;
	bottom:65px;
	width:200px;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.sidebar b {
	color:#4040a0;
}

div.input {
	position:absolute;
	right:10px;
	bottom:5px;
	width:195px;
	height:45px;
}

/* Conditions
 */
div.conditions {
	display:none;
}

/* Alternates
 */
div.alternates {
	display:none;
}

/* Items
 */
div.token,
div.character {
	position:absolute;
}

div.hitpoints {
	position:relative;
	top:-5px;
	margin-bottom:-4px;
	height:4px;
	border:1px solid #808080;
	background-color:#ff0000;
}

div.hitpoints div.damage {
	position:absolute;
	right:0;
	height:100%;
	background-color:#000000;
	float:right;
}

div.token span,
div.character span,
div.marker span {
	display:block;
	font-size:8px;
	text-align:center;
	color:#000000;
	background-color:#ffffff;
	border:1px solid #808080;
	padding:1px 3px;
}

div.token span.conditions,
div.character span.conditions {
	background-color:#ffa0a0;
}

div.zone div.script {
	display:none;
}

/* Mobile view
 */
@media (max-width:991px) {
	div.playarea,
	div.sidebar {
		top:70px;
	}

	div.menu {
		top:40px;
	}
}

/* Mobile view
 */
@media (max-width:767px) {
	div.playarea {
		top:95px;
	}

	div.sidebar {
		top:95px;
	}

	div.menu {
		top:40px;
		right:0;
	}

	div.menu div.btn-group {
		display:block;
	}

	div.menu select {
		right:10px;
	}
}
