div.token,
div.character {
	position:absolute;
}

div.token img,
div.character img,
div#start img {
	cursor:grab;
}

div.character span {
	display:block;
	font-size:8px;
	text-align:center;
	color:#000000;
	background-color:#ffffff;
	border:1px solid #808080;
	padding:1px 3px;
}

select#collectable {
    font-family:sans-serif;
}

/* Menu
 */
div.menu {
	position:absolute;
	top:5px;
	right:15px;
	margin:0;
}

div.menu span#infobar {
	margin-right:15px;
	display:inline-block;
	position:relative;
	top:4px;
	margin-right:15px;
	margin-top:-5px;
	width:150px;
	height:20px;
	text-align:right;
}

div.menu div.btn-group {
	margin:0;
	display:inline-block;
}

/* Zones
 */
div.zone:hover {
	border:3px double #ff8000;
}

div.zone div.script {
	display:none;
}

/* Playarea
 */
div.playarea {
	position:absolute;
	top:40px;
	right:215px;
	bottom:15px;
	left:15px;
	border:1px solid #000000;
	overflow:auto;
}

div.playarea video {
	position:absolute;
	left:0;
	top:0;
}

/* Library
 */
div.library {
	position:absolute;
	top:90px;
	right:0px;
	bottom:165px;
	width:200px;
	overflow-y:scroll;
	padding-right:15px;
}

div.library img.icon {
	float:left;
	max-width:50px;
	max-height:50px;
	transform:rotate(180deg);
}

div.library div.well div {
    margin-left:60px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

img.ui-draggable-dragging {
	transform:rotate(180deg);
}

/* Right bar
 */
div.filter {
	position:absolute;
	top:40px;
	right:0px;
	height:50px;
	width:200px;
	padding-right:15px;
}

div.sidebar {
	position:absolute;
	height:150px;
	right:0px;
	bottom:0px;
	width:200px;
	overflow-y:scroll;
	overflow-x:hidden;
}
