@media (min-width:768px) {
	form.game-selector {
		width:250px;
		float:right;
		position:relative;
		margin-right:65px;
		top:-40px;
		margin-bottom:-40px;
	}
}

table.table th:nth-child(n+2) {
	width:70px;
}

input.form-control,
div.input-group {
	max-width:450px;
}

img.collectable {
	display:block;
	width:100%;
	max-width:450px;
}

@media (min-width:767px ) {
	img.collectable {
		float:right;
		max-width:200px;
	}
}
