@media (min-width:768px) {
	form.game-selector {
		width:250px;
		float:right;
		position:relative;
		margin-right:65px;
		top:-40px;
		margin-bottom:-40px;
	}
}

table.table th:last-child {
	width:70px;
}

div.input-group {
	max-width:500px;
}

div.overlay {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:2;
	background:rgba(64, 64, 64, 0.7);
}

div.overlay div.panel {
	width:450px;
	margin:0 auto;
	margin-top:200px;
}

div.overlay div.panel-body {
	max-height:315px;
	overflow-y:auto;
}

div.overlay div.panel-body li {
	cursor:pointer;
}

div.overlay div.panel-body li:hover {
	background-color:#e0e0ff;
}

div.overlay ul.maps {
	padding-left:15px;
}
