div.filter {
	margin-bottom:15px;
}

div.filter div.btn-group {
	margin:0;
}

div.filter .form-control {
	max-width:none;
}

div.token > div {
	cursor:pointer;
}

div.token img.icon {
	float:left;
	max-width:50px;
	max-height:50px;
	transform:rotate(180deg);
}

div.token div div {
	margin-left:60px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

input.form-control,
div.input-group {
	max-width:450px;
}

span.input-group-btn label {
	padding:6px 25px;
}

img.token {
	display:block;
	transform:rotate(180deg);
}

@media (min-width:767px ) {
	img.token {
		float:right;
		max-width:200px;
	}
}
