@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-200.woff);
	font-weight:200;
}

@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-400.woff);
	font-weight:400;
}

* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	font-family:Raleway;
	font-weight:400;
}

div.wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	font-size:32px;
	margin-top:0;
	color:#5385c1;
}

h2 {
	font-size:22px;
	margin-top:5px;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
}

a {
	color:#30a0e0;
}

ul {
	padding-left:15px;
}

ol {
	list-style-position:inside;
}

div.left {
	float:left;
}

div.right {
	float:right;
}

div.clear {
	clear:both;
}

img.title_icon {
	float:right;
	margin-top:-20px;
	margin-bottom:-20px;
}

@media (max-width:767px) {
	table.table-xs th,
	table.table-xs td {
		display:block;
	}

	table.table-xs th:last-child {
		border:none;
	}
	table.table-xs th:first-child,
	table.table-xs td:first-child {
		border-top:2px solid #808080;
	}
}

/* Header
 */
div.header {
	height:150px;
	background-image:url(/images/layout/tabletop_header_valley.jpg);
	background-position:center;
	background-size:cover;
	border-top:5px solid #5385c1;
}

div.header div.title {
	color:#ffffff;
	font-size:40px;
	font-face:Raleway;
	font-weight:bold;
	margin-top:30px;
	text-align:center;
	text-shadow:1px 1px 2px #000000;
}

div.header img.logo {
	float:right;
	width:100px;
	position:relative;
	margin-right:15px;
}

div.header nav.navbar {
	margin-bottom:0;
	border-radius:0;
	position:relative;
}

div.header nav.navbar .btn-navbar {
	border:2px solid #000000;
	background-color:red;
	background:red;
}

/* Content
 */
div.content div.container {
	padding-top:25px;
	padding-bottom:75px;
	position:relative;
}

@media (max-width:767px) {
	div.content div.container {
		padding-bottom:150px;
	}
}

input.form-control, textarea.form-control, select.form-control {
	max-width:500px;
	margin-bottom:5px;
}

@media (max-width:767px) {
	input.form-control, textarea.form-control, select.form-control {
		font-size:16px;
	}
}

textarea.form-control {
	height:75px;
}

div.btn-group {
	margin:15px 10px 10px 0;
}

.btn {
	padding:4px 24px;
}

.btn-xs {
	padding:0 16px;
}

table.table-hover tbody tr:hover {
	cursor:pointer;
}

/* Footer
 */
div.footer {
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color:#f0f0f0;
	border-top:1px solid #e0e0e0;
	padding-top:15px;
	text-align:center;
	color:#a0a0a0;
	font-size:12px;
}

div.footer a {
	color:#606060;
}

@media (min-width:768px) {
	div.footer span:before {
		content:"|";
		margin:0 20px;
	}
	div.footer span:first-child:before {
		content:"";
		margin:0;
	}
}

@media (max-width:767px) {
	div.footer {
		height:125px;
	}
	div.footer span {
		display:block;
		margin-bottom:10px;
	}
}
