@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-200.woff);
	font-weight:200;
}

@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-400.woff);
	font-weight:400;
}

* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	font-family:Raleway;
	font-weight:400;
}

div.wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	font-size:32px;
	margin-top:0;
	color:#5385c1;
	position:absolute;
	left:15px;
}

h2 {
	font-size:22px;
	margin-top:5px;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
}

a {
	color:#30a0e0;
}

/* Content
 */
.container {
	max-width:none;
}

@media (min-width:1200px) {
	.container {
		width:100%;
	}
}

/* Script
 */
div.script_editor div.panel-body {
	height:310px;
}

div.script_editor textarea {
	height:200px;
}

div.script_editor div.game_id {
	color:#a0a0a0;
	float:right;
	position:relative;
	top:20px;
}

div.script_editor span.zone_group {
	margin-left:50px;
}

div.script_editor input#zone_group {
	border:0;
	border-radius:5px;
	padding:0 5px;
	width:125px;
	color:#000000;
}

div.script_manual div.panel {
	max-width:600px;
	width:100%;
}

div.script_manual div.panel-body {
	font-family:sans-serif;
}

div.script_manual ul {
	margin-left:15px;
}
