img.logo {
	float:right;
	max-width:250px;
}

@media (max-width:991px) {
	img.logo {
		max-width:150px;
	}
}

@media (max-width:767px) {
	img.logo {
		max-width:50px;
		margin-top:-50px;
	}
}

form {
	margin-bottom:15px;
}
